<div class="d-flex justify-content-center">
    <div class="card product p-2">
        <h4 class="text-primary">
            {{_id?"Edit Product":"Add New Product"}}
        </h4>
        <hr class="mt-1 mb-2" />
        <img src="{{getImageUrl()}}" class="card-img-top" alt="product">
        <form (ngSubmit)="saveProduct()">
            <div class="mb-2">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" required>
            </div>
            <div class="mb-2">
                <label for="exampleFormControlFile1">Product Image</label>
                <input type="file" class="form-control-file" (change)="onFileSelected($event)" id="exampleFormControlFile1" accept="image/*">
            </div>
            <div class="mb-2">
                <label for="info" class="form-label">Product info</label>
                <textarea class="form-control" [(ngModel)]="info" id="info" name="info" rows="3"></textarea>
            </div>
            <div class="mb-2">
                <label for="cost" class="form-label">Product Cost</label>
                <input type="number" id="cost" [(ngModel)]="cost" class="form-control" name="cost" placeholder="Cost">
            </div>
            <button type="submit" class="btn btn-primary w-50">Save Product</button>
            <button class="btn btn-danger w-50" (click)="deleteProduct()" *ngIf="_id">Delete Product</button>
        </form>
    </div>
</div>